#page-heading
  .page-header
    .container
      .row.home
        .span12
          %h3
            Take the first step towards giving back.
            .pull-right Create an account today.
  .container
    .arrow-down
%hr.hr-spacer.space35
#blog
  .container
    .row-fluid
      .span4
        .blog-side
          .side-box
            %img{src: "#{@user.avatar}"}
            %h5= @user.nickname
            = @user.first_name
            = @user.last_name
            %br
            = @user.location
            %hr
            -if can? :edit, @user
              %h5 Email:
              = @user.email
              %hr
              = link_to "Edit Profile", edit_user_url(@user), class: "btn btn-large"

      .span8
        .blog-list
          .blog-post
            %h3 Projects You Have Contributed To
            %hr
            -if @user.donated_projects.count == 0
              %h4 Find a project you are passionate about today:
              = link_to "click here to find a project", root_url
            -else
              -@user.donated_projects.each do |project|
                =link_to "#{project.title}", project_url(project) 
                \- Dollars Donated: #{project.get_dollars_donated} | Hours Donated: #{project.hours_donated}
            %h3 Projects You Have Created
            %hr
            -if @user.created_projects.count == 0
              %h4 You Don't Seem to have any projects, go make change:
              = link_to "click here to create", new_project_url
            -else
              -@user.created_projects.each do |project|
                -if project.funded?
                  %span.label.label-success Funded
                -else
                  %span.label Not Funded
                #{project.title} 
                \- Ends on: #{project.deadline}
                %br
