.project_id{ data: {id: @project.id }}
.span12
  = render partial: "calendar"
.clearfix

#myModal.modal.hide.fade
  .modal-header
    .close{data: {dismiss: "modal"}}
    .h3 Hours Available
  .modal-body
    %table.table.table-bordered{style: "width: 100%"}
      %tr
        %th.top{style: "width: 7.7%"}
        - (1..12).to_a.each do |i|
          %th.top{style: "width: 7.7%"}= i
      %tr
        %td{style: "width: 7.7%"}= "AM"
        - (1..12).to_a.each do |i|
          %td.hours{style: "width: 7.7%", id: "#{i}"}
      %tr
        %td{style: "width: 7.7%"}= "PM"
        - (1..12).to_a.each do |i|
          %td.hours{style: "width: 7.7%", id: "#{i + 12}"}
  .modal-footer
    %button#save.btn.pull-right
      Save

:javascript
  var commitments = {}

  $(function(){
    
    var id = $('.project_id').data('id')
    $('.day')
      .css('background', 'white')
      .data('valid', 0)

    $.get('/projects/' + id + '/events/', function(response){
      events = response
      $.each(events, function(i, value){
        $('[data-date-iso="' + value.date + '"]')
          .css('background', 'yellow')
          .data('valid', 1)
      })
    }, 'json')

    $('.hours').click(function(){
      hour = $(this)
      if(!hour.data('checked') && hour.data('valid')){
        hour
          .data('checked', 1)
          .css('background', 'green')
      }
      else if(hour.data('valid')){
        hour
          .data('checked', 0)
          .css('background', 'white')
      }
    })

    $('.day').click(function(){
      var day = $(this)
      if(day.data('valid')){
        prepare_hours()
        var date = day.data("date-iso")
        $('.modal-body').data('date', date)
        
        $.each(events, function(day, value){
          if(value.date == date){
            $('.hours#' + value.hour)
              .data('valid', 1)
              .data('value', value)
              .css('background', 'white')
          }
        })    
        $('#myModal').modal()
      }
    })

    $('#save').click(function(){
      var commit = new Array()
      $.each( $('.hours'), function(i, value){
        if($(value).data('checked') === 1){
          commit.push($(value).data('event_id'))
        }
      })
      var date = $('.modal-body').data('date')
      commitments[date] == commit
      paint_calender()
      $('#myModal').modal('hide')
    })

    $('#submit').click(function(){
      $.post('/projects/' + id + '/commitments/', {commitments: commitments}, function(response){

      })
    })
  })

  function prepare_hours(){
    $('.hours')
      .css('background', 'lightgrey')
      .data('valid', 0)
      .data('checked', 0)
  }

  function paint_calender(){
    console.log(commitments)
    $.each(commitments, function(i, value){
      console.log(value)
    })
  }
