- if flash[:notice]
  %h5= flash[:notice]

%table{ class: "donations table table-striped table-bordered table-condensed" }
  %tr
    %th Owner
    %th Hours
    %th Dollars
    %th Donated To
  - @donations.each do |donation|
    %tr
      %td
        %a{href: user_path(donation.user)}= donation.user.fb_nickname
        %td= donation.hours.to_s                    if can? :edit, donation
        %td= "$" + donation.get_dollar_amount.to_s  if can? :edit, donation
      %td
        %a{href: project_url(donation.project)}= donation.project.title


%h3= button_to "view all projects", {action: projects_url(@donations.first.project)}, method: :get
