= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js", "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
:javascript
  $(function(){
    $('#project_deadline').datepicker({ dateFormat: "yy-mm-dd" });
  })

= form_for @project do |f|
  = f.text_field :title, placeholder: "Title", style: "width: 95%"
  = f.text_area :description, placeholder: "Description", size: "20x10", style: "width: 95%"
  = f.label :dealine, "Deadline"
  = f.text_field :deadline, placeholder: 'Deadline'
  = f.label :hour_goal, "Hour Goal"
  = f.number_field :hour_goal, { min: 0, step: 1 }
  = f.label :dollar_goal
  = f.number_field :dollar_goal, { min: 0, max: 100000, step: 5}
  %br
  = f.submit class: "btn btn-lrg"
