#page-heading
  .page-header
    .container
      .row.home
        .span12
          %h1 Support local projects with your time or money.
        .span6
          %h4= @projects.first.title
          .home-btns
            %a.btn{:href => "/projects/#{@projects.first.id}"}
              %i.icon-plus>
              Back this project
            %a.btn{:href => "#trending-projects"}
              %i.icon-plus>
              See more projects
        .span6
          / %img{:alt => "", :src => "assets/img/park_bench.jpg"}/
  .home-cta
    .container
      .arrow-down
      .home-cta-inner.text-center
        %h3
          See how you can make an impact today. It's simple.
          %a.btn.cta-btn{:href => "/starts"}
            %i.icon-plus>
            Get Started
%hr.hr-spacer.space35
/
  Home Container
  \==================================================
#home
  .container
    /
      Content Block
      \==================================================
    .row-fluid
      <div class"span12">
      %h1 Trending Projects
  - @projects.each_slice(3) do |row|
    .row-fluid
      - row.each do |project|
        .span4.content-box-light.feature
          %h3
            - if project.funded?
              = fa_icon "ok-sign"
            - else
              = fa_icon "exclamation-sign"
            = link_to project.title, project_url(project)
          = project.description
          %br/
          .dollars
            %h5 Dollars
            .progress{class: "progress-striped active"}
              .bar{style: "width: #{ (project.dollars_donated / project.dollar_goal.to_f) }%;"}
            Dollars Donated: $
            = project.dollars_donated
          .hours
            %h5 Hours
            .progress{class: "progress-striped active"}
              .bar{style: "width: #{ (project.hours_donated / project.hour_goal.to_f) * 100 }%;"}
            Hours Committed:
            = project.hours_donated
    %hr.hr-spacer.space50/
