= stylesheet_link_tag "project", media: "all"
.page-wrap
  %h1 All Projects
  
  %table{ class: "projects" }
    %tr
      %th Title
      %th Hours
      %th Dollars
    - @projects.each do |project|
    %tr
      %td= project.user.name
      %td= project.hours_donated
      %td= "$" + project.dollars_donated.to_s

  = link_to "Create Project", new_project_url
