#page-heading
  .page-header
    .container
      .row
        .span12
          %h1
            = @project.title
            %span
  .container
    .arrow-down
%hr.hr-spacer.space30/
/
  Main Content
  \==================================================
#blog
  .container
    - if flash[:notice]
      .alert{class: 'alert-success'}
        = flash[:notice]

    /
      Content Block
      \==================================================
    .row
      .span8
        .blog-list
          .blog-post
            %p Created By:
            %p= @project.owner.fb_nickname
            %p Project Description:
            %p= @project.description
            %hr

      /
        Content Block Sidebar
        \==================================================
      .span4
        .blog-side
          .side-box
          .side-box
            .page-headline
              %h3 Data 4 Projects Page.
            %ul.unstyled
              %li
                $
                = @project.dollars_donated
                donated of $
                = @project.dollar_goal
                goal
              %li
                = @project.hours_donated
                hours committed of
                = @project.hour_goal
                hour goal
              - if can? :create, Donation
                %li= link_to 'Give To Project', new_project_donation_url(@project)
              - else
                %li= link_to 'Give To Project', new_user_url
              - if can? :edit, @project
                %li
                  = link_to "Edit This Project", edit_project_url(@project)
          .side-box
            .page-headline
              %h3 Givers
            = render template: 'donations/index'
