#page-heading
  .page-header
    .container
      .row
        .span12
          %h1= @project.title
          %h3= "by " + @project.owner.nickname
  .container
    .arrow-down
%hr.hr-spacer.space30/
/
  Main Content
  \==================================================
#blog
  .container
    - if flash[:notice]
      .alert{class: 'alert-success'}
        = flash[:notice]
    - if flash[:pay_success]
      .alert{class: 'alert-success'}
        = flash[:pay_success]
    /
      Content Block
      \==================================================
    .row
      .span8
        .blog-list
          .blog-post
            = markdown.render(@project.description).html_safe
            %hr.frame
            /
        /Content Block Sidebar
        /==================================================
      .span4
        .blog-side
          .side-box
            %h1= @project.donators.size
            %h4 backers
            %h1= @project.hours_donated.to_s
            %h4= "hours pledged of " + @project.hour_goal.to_s
            %h1= "$ " + @project.get_dollars_donated.to_s
            %h4= "pledged of $" + @project.get_dollar_goal.to_s + " goal"
            %h1= @project.time_remaining.to_s
            %h4 days to go
            %hr
            - if can? :create, Donation
              = link_to 'Give To Project', new_project_donation_url(@project), class: 'btn btn-lrg'
              %br 
              = link_to "Updates", project_updates_url(@project)
            - else
              = link_to 'Give To Project', new_user_url, class: 'btn btn-large'
            %h6 This project will be funded on
            %p= @project.deadline.strftime("%m/%d/%Y")
            %hr
            - if can? :edit, @project
              = link_to "Edit This Project", edit_project_url(@project), class: 'btn btn-lrg'
              %hr
              = link_to "Add an Update", new_project_update_url(@project)
              %br
              %br
            - if @project.funded?
              = link_to "Add Bank Account", user_bankaccounts_url(current_user), class: "btn btn-large"
        %br
        .blog-side
          .side-box
            %img{src: "#{@project.owner.avatar}"}
            %h4 Project By
            %h4= link_to @project.owner.nickname, user_url(@project.owner)
:javascript
  $(function(){
    $('iframe').css('width', $('.frame').css('width'))
    $(window).resize(function(){
      $('iframe').css('width', $('.frame').css('width'))
    })
  })
