!!!
%html
  %head
    %title Parkbench Projects
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "bootstrap", "font-awesome", "app"
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:300,400,400italic,700", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,700", :rel => "stylesheet"}
    = javascript_include_tag "application", "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tags
  %body
    /
      Page Wrapper
      \==================================================
    #wrap.page
      /
        Navbar
        \==================================================
      .nav-wrap
        .container
          .navbar
            .navbar-inner
              .container
                %a.brand{:href => "/"}
                  %strong Parkbench Projects
                .nav-collapse.collapse
                  %ul.nav.pull-right
                    -if current_user
                      %li= link_to "Create A Project", new_project_url
                    -else
                      %li= link_to "Create A Project", new_user_url
                    %li.divider-vertical
                    -if current_user
                      %li= link_to "#{current_user.first_name}", user_url(current_user)
                      %li.divider-vertical
                      %li= link_to "Sign Out", signout_url
                    -else
                      %li.dropdown
                        %a.dropdown-toggle{role: 'button', data: {toggle: "dropdown"}}
                          Sign In
                          %b.caret
                        %ul.dropdown-menu{role: 'menu'}
                          %li= link_to "Sign In With Facebook", sign_in_facebook_url
                          %li= link_to "Sign In With Twitter", sign_in_twitter_url
                          %li= link_to "Sign In / Sign Up", new_user_url
                      :javascript
                        $(function(){
                          $('.dropdown-toggle').dropdown()
                          })

      = yield

    /
      Footer
      \==================================================
    #footer
      .container
        .row
          .span4
            %h4 Parkbench Projects
            %p A Dev Bootcamp-Chicago final project, Parkbench Projects hopes to become the natioinal standard for organizing local volunteer projects. We also aim to lower the barrier of communication between motivated citizens and the government officials often required to initiate community these projects.
          .span4.testimonial
            %h4 Testimonials
            %blockquote
              %p
                %i.icon-quote-left
                This is a fresh, new take on a proven idea; there is no telling how much good can come of this website.
              %small DaveHoover
            %blockquote
              %p
                %i.icon-quote-left
                This is the most exciting website concept I have ever seen. Period. And I worked on the Obama campaign website.
              %small AbiNoda
          .span3.contact.pull-right
            %h4 Contact Us
            %ul.unstyled.contact-list
              %li
                %i.icon-home.contact-icon>
                Chicago, IL
              %li
                %i.icon-envelope-alt.contact-icon
                %a{:href => "#"} info@parkbenchprojects.com
              %li
                %i.icon-globe.contact-icon
                %a{:href => "http://www.devbootcamp.com"} http://www.devbootcamp.com
        .row
          .span12.social
            %h4 We're Social
            %ul.unstyled.social-list
              %li
                %a{:href => "#"}
                  %i.icon-facebook.icon-2x
              %li
                %a{:href => "#"}
                  %i.icon-twitter.icon-2x
              %li
                %a{:href => "#"}
                  %i.icon-linkedin.icon-2x
              %li
                %a{:href => "#"}
                  %i.icon-pinterest.icon-2x
              %li
                %a{:href => "#"}
                  %i.icon-google-plus.icon-2x
    /
      Sub-Footer -Sticky
      \==================================================
    #sub-footer
      .container
        .row.credits
          .span6
            %p © 2013 Dev Bootcamp
          .span6
            %p.pull-right
              Theme by
              %a{:href => "http://northify.com"} SimplyFlat
